<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="card">
    <div class="header">
    
      <div class="avatar">
        <img src="assets/images/1.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="user-meta ion-text-center">
      
      
      
    </div>
    
    <br>
    <ion-button color="primary">Gmail: JonathanCahingcoy@evsu.edu.ph</ion-button>
    <br>
    <ion-button color="primary">Phone: 0908453458</ion-button>
    <br>
    
    
  </div>
  
      
</ion-content>





